body {
  background-color: #e5e5f7;
  opacity: 0.6;
  background-image: radial-gradient(#56a3ec 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}